body {
    font-family: 'Open Sans';    
    color: #696969;
    border: 15px solid lightgrey;
    padding: 20px;
    width: 1000px;
    margin: 20px 0 0 250px;
    
}

header {    
    text-align: center;
    color: saddlebrown;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    text-align: center;
    float: left;
    margin: 5px;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background-color: #333333;
        padding: 20px;
    }

        li a:hover {
            background-color: saddlebrown;
        }

h3{
    text-align:center;
}

.selectWine {
    padding: 0 0 0 300px;
}

.col-md-6 {
    padding: 0 0 0 300px;
}

#Lable1 {
    font-size:medium !important ;
}

.form-control {
    height: 20px;
}


.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: lightgray;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #333333;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 34px;
    line-height: 1.15;
    outline: none;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 180px;
}

    .button-9:focus {
        box-shadow: rgba(169,169,169, .9) 0 0 0 4px;
    }
    .button-9:hover {
        color: white;
        background-color: gray;
    }

#ContentPlaceHolder1_tblWine {
    padding: 0 0 0 50px;
}


#ContentPlaceHolder1_tblCustomers td, #ContentPlaceHolder1_tblCustomers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-size-adjust:auto;
}

#ContentPlaceHolder1_tblCustomers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ContentPlaceHolder1_tblCustomers tr:hover {
    background-color: #ddd;
}

#ContentPlaceHolder1_tblCustomers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: white;
}



#ContentPlaceHolder1_tblWine td, #ContentPlaceHolder1_tblWine th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ContentPlaceHolder1_tblWine tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ContentPlaceHolder1_tblWine tr:hover {
    background-color: #ddd;
}

#ContentPlaceHolder1_tblWine th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: white;
}